* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, sans-serif;
}

.container {
    margin: 0 auto;
    width: 50%;
    padding: 10rem 20px;
}

.text {
    font-size: 20px;
    color: #000;
    font-weight: 600;
}

input[type="text"] {
    outline: none;
    padding: 10px;
    border: 1px solid #a5a5a5;

}

select {
    outline: none;
    width: 100%;
    padding: 8px;
    border: 1px solid #a5a5a5;
    border-radius: 0;
}

label {
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
    font-size: 15px;
}

input[type="submit"] {
    outline: none;
    border: none;
    background-color:#0099FF;
    color: #fff;
    font-size: 16px;
    padding: 8px 25px;
    cursor: pointer;
    margin-top: 1rem;
    float: right;
}

@media screen and (max-width: 480px) {
    .container {
        margin: 0 auto;
        width: 100%;
        padding: 6rem 20px;
    }

    .text {
        font-size: 18px;
    }

    input[type="text"] {
        padding: 6px;
    }

    select {
        width: 100%;
        padding: 8px;
        border: 1px solid #a5a5a5;
        border-radius: 0;
    }
}